.setSelectCell
  width 100%
  height 100%
  display none
  &.active
    display flex
  &__grid
    width 150px
    height 150px
    margin auto
    border 2px solid #f1f1f1
    display grid
    grid-template-columns repeat(3, 1fr)
    grid-template-rows repeat(3, 1fr)
    grid-gap 5px
  &__item
    cursor pointer
    background-color #5e5e6c
    &.active
      background-color #306889
    &.current
      background-color #3e7c3a
      cursor default


.setBD
  margin-left 10px
  & p
    font-family 'Roboto',sans-serif
    font-size clamp(15px, 2vw, 16px)
  &__input
    display flex
    justify-content space-between
    margin 10px 0
    align-items center
    & > input
      outline none
      border 1px solid #dbdbdb
      box-sizing border-box
      padding 3px 10px
      border-radius 4px
      width 50%
