*
  margin 0

body
  overflow hidden
  width 100vw
  height 100vh
  display flex
  align-items center
  justify-content center
  background-color #c2acb5

.screen
  --panelWidth clamp(10px, 100%, 320px)
  position relative
  overflow hidden
  display flex
  //&:hover
  //  & .panel
  //    right 0

.panel 
  position absolute
  width var(--panelWidth)
  //transform translateX(100%)
  display flex
  flex-direction column
  transition: right .5s linear
  height 100%
  right calc(-1 * var(--panelWidth))
  background-color #847d89cf
  box-sizing border-box
  padding 10px
  & > * 
    font-family: 'Roboto', sans-serif;
  &__buttons
    display grid
    grid-template-columns repeat(3, 1fr)
    grid-column-gap 10px
    justify-items center
    margin-bottom 25px
    & > p
      background-color #87afc7
      line-height 19px
      cursor pointer
      border 1px solid #0000005e
      padding 5px 12px
  &_active 
    right 0
    & ^[-1]__open
      transform translate(-50%, -50%) scaleX(1)
  &__open
    left -10px
    min-width 26px
    max-width 26px
    position relative
    min-height 26px
    max-height 26px
    border-radius 26px
    background-color #f7f7f7
    border 2px solid #858181
    box-sizing border-box
    display inline-block
    top 50%
    cursor pointer
    transform translate(-50%, -50%) scaleX(-1)
    &:before
    &:after
      content ''
      position absolute
      width 10px
      height 2px
      background-color black
      left 7px
    &:before
      top 7px
      transform rotate(45deg)
    &:after
      bottom 7px
      transform rotate(-45deg)
  &__setting
    margin-bottom 10px
    & > p
      font-size 18px
      margin-bottom 5px
      text-align center
      font-size 24px
    &-items
      & svg
        cursor pointer
        &.active 
          background-color: #3689855c;
          box-shadow: 0px 0px 14px 0px #876b99;
        & > *
          pointer-events none


  &__actions
    height 100%
    width 100%

.setting-input{
  outline: none;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  padding: 3px 10px;
  border-radius: 4px;
  width: 50%;
}

.row-input{
  display flex;
  justify-content space-between
  align-items center
  margin-top 15px
}

.button-apply{
  display inline-block
  margin-top: 10px;
  padding: 8px 14px;
  background-color: #2b6485;
  cursor pointer;
  font-family: 'Roboto', sans-serif;
  color #fff;
  text-transform uppercase
  border-radius 3px
}

p.warning-cellSize{
  margin-top 1px
  font-size 16px
}

.setTimer
  display none
  margin-left 10px
  &.active 
    display block
  & > .setBD__note
    font-size 15px
